<footer class="mt-auto mb-6 flex max-w-4xl w-full mx-auto justify-center leading-tight">
  <small>&copy; <span id="footer-copyright"></span> SRK. Создано с помощью Astro, Tailwind, Motion One, Swiper.js, Lenis и Github Pages</small>
</footer>

<script>
  document.getElementById("footer-copyright").textContent = new Date().getFullYear().toString();
</script>