<li class="flex flex-col mb-8">
  <span class="font-serif text-5xl after:content-['+'] after:ml-0.5" data-count="40">
    0
  </span>
    выполненных проектов
</li>
<li class="flex flex-col">
  <span class="font-serif text-5xl after:content-['+'] after:ml-0.5" data-count="30">
    0
  </span>
    положительных отзывов
</li>

<script src="../scripts/animateCounter.js"></script>